<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book_app</title>
    <title>book_app</title>
    <link rel="stylesheet" type="text/css" href="../../public/styles/reset.css">
    <link rel="stylesheet" href="../../public/styles/base.css">
    <link rel="stylesheet" href="../../public/styles/layout.css">
    <link rel="stylesheet" href="../../public/styles/modules.css">
</head>
<body>
    <header>
        <h1>Best Books!</h1>
    </header>
    <main>
      <div>
        <img src="<%=book.imageUrl%>" alt="">
        <h4><%=book.title%></h4>
        <p><%=book.authors%></p>
        <p><%=book.description%></p>
      </div> 
    </main>
    <footer>
        <p>all copyright are resrved</p>
    </footer>
</body>
</html>