<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>book_app</title>
    <link rel="stylesheet" type="text/css" href="../../public/styles/reset.css">
    <link rel="stylesheet" href="../../public/styles/base.css">
    <link rel="stylesheet" href="../../public/styles/layout.css">
    <link rel="stylesheet" href="../../public/styles/modules.css">
</head>
<body>
         <header>
            <h1>Best Books!</h1>
        </header>
        <main>
            <form action="/searchNow" method="POST">
                <label>
                  <input type="text" name="textArea" />
                </label>
                <div id="butoom">
                
                <span><input type="radio" name="title" id="" value="Title">  Title</span>
                
                <span><input type="radio" name="author" id="" value="Author">  Author</span>
                  </div>
                <input type="submit" value="Search">
              </form>
        </main>
        <footer>
            <p>all copyright are resrved</p>
        </footer>
</body>
</html>