<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>book_app</title>
    <link rel="stylesheet" href="../../public/styles/reset.css">
    <link rel="stylesheet" href="../../public/styles/base.css">
    <link rel="stylesheet" href="../../public/styles/layout.css">
    <link rel="stylesheet" href="../../public/styles/modules.css">


</head>
<body>
    <header>
    <h1>Best Books!</h1>
    </header>
    <main>

    </main>
    <footer>
        <p>all copyright are resrved</p>
    </footer>
</body>
</html>