div#butoom {
    display: flex;
    flex-direction: row;
    /* flex-flow: nowrap; */
    align-items: center;
    justify-content: space-around;
    padding: 0px 20px;
}
span{
    font-size: 35px;
}
div p,div h4{
    text-align: center;
}
div h4{
    text-align: center;
    font-size: 25px;
}